@model SamaERP.Models.ACCFixedCategory

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


<div class="right_col" role="main">



    <form asp-controller="FixedCategories" asp-action="Delete" class="pull-left">
        <input type="hidden" asp-for="Id" />
        <input style="font-size:small;" type="submit" value="Delete" class="btn btn-danger mb-0" />
    </form>
    <div class="clearfix"></div>


    <br />
    <table class="table table-bordered table-striped" width="100%">
        <tr>
            <td width="15%">
                <label style="font-size:medium;font-weight:500;">Category Name :</label>
            </td>
            <td colspan="3">
                <strong style="font-size:medium;font-weight:700;color:black;">  @Html.DisplayFor(model => model.CategoryName)</strong>
            </td>

        </tr>
        <tr>
            <td width="15%">
                <label style="font-size:medium;font-weight:500;">Description :</label>
            </td>
            <td width="35%">
                <strong style="font-size: medium; font-weight: 700; color: black; ">    @Html.DisplayFor(model => model.Description)</strong>
            </td>
        </tr>

    </table>




    <br />


</div>




